@font-face {
  font-family: 'thufap';
  src: url('./vnithufap.ttf'); 
  } 


*{
	-webkit-transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

body{
	margin: 0px;
    overflow: hidden;

}

li{list-style:none}

ul{padding:0;margin:0;}

.top{top: 0}

.left{left: 0}

.bottom{bottom: 0}

.right{right: 0}

.layer{
    position:  absolute;
}

#magic-dust{
    position: absolute;
}

.overflow-layers .layer{
    top: -50px;
    right: -340px;
    bottom: -33px;
    width: 139%;
}

#layer-1{
	background:url('./img/bg1.png') no-repeat ;
	background-size: cover;
  display: block;
  z-index: 3;
  
}

#layer-2{
	background:url('./img/bg2.png') no-repeat ;
	background-size: 100%;
  margin-top: 16%;
  z-index: 4;

}


.left-bottom{
    bottom:0;   
    left:0;   
}


.snow {
  height: 100%;
  position: absolute;
  width: 100%;
}

    #jimmy {
    background       : url('./img/frames.png');
    height           : 200px;
    width            : 158.6666px;
    position         : absolute;
    bottom              : 130px;
    left             : 150px;
    display: .;
    z-index: 5;
    -webkit-animation: sprite-animation 3s steps(6,end) infinite;
    -moz-animation   : sprite-animation 3s steps(6,end) infinite;
    -ms-animation    : sprite-animation 3s steps(6,end) infinite;
    animation        : sprite-animation 3s steps(6,end) infinite;
    }

    @-webkit-keyframes sprite-animation { 
        from { background-position: 0 0; }
        to { background-position: -952px 0; } 
    }

@-ms-keyframes sprite-animation { 
        from { background-position: 0 0; }
        to { background-position: -952px 0; }
    }

@-moz-keyframes sprite-animation { 
        from { background-position: 0 0; }
        to { background-position: -952px 0; }
    }

@keyframes sprite-animation { 
        from { background-position: 0 0; }
        to { background-position: -952px 0; }
    }  

#temple {
    width: 45vw;
    height: 60vh;
    background-image: url("./img/temple.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    bottom: -50px;
    left: -150px;
    z-index: 5;
}


          .music-wrap {
           top:40px;
           right: 50%;
            position: absolute;
            
            
        }
        .note-position-1 {
          bottom: 0;
        }
        .note-position-2 {
          bottom: 0;
          left  : 20px;
        }
        .note-position-3 {
          bottom: 0;
          left  : 25px;
        }
        .note-position-4 {
          bottom: 0;
          left  : 35px;
        }
        .animation-delay-1 {
          animation-delay: .75s;
        }
        .animation-delay-2 {
          animation-delay: 1.75s;
        }
        .animation-delay-3 {
            animation-delay: 2.5s;
        }
        .note-amination {
          position                 : absolute;
          font-size                : 12px;
          animation-name           : notes;
          animation-duration       : 3s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          opacity                  : 0;
          color                    : #000;
        }
        @keyframes notes {
          0% {
            font-size: 12px;
            opacity  : 0;
          }
          50% {
            opacity: 1;
          }
          100% {
            font-size: 24px;
            bottom   : 60px;
            opacity  : 0;
          }
        }
        .swing-animation {
          animation-name           : swing;
          animation-duration       : 1s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
      
          
        }
        @keyframes swing {
            0% {
                transform: rotateZ(0deg);
            }
            25% {
                transform: rotateZ(20deg);
            }
            75% {
                transform: rotateZ(-20deg);
            }
            100% {
                transform: rotateZ(0deg);
            }
        }


        #controls{
        position: absolute;
        text-align: center;
        width: 500px;
        height: 100px;
        bottom: 2%;
        left: 0;
        right: 0;
        margin:auto;
         z-index: 6;
     
        }
       #controls a:link, a:visited {
   
 
          
          text-align: center; 
          text-decoration: none;
          display: inline-block;}
      
      
      .btn {
        position: relative;
        display: inline-block;
        letter-spacing: 1.2px;
        padding: 5px;
        text-align: center;
        
        text-transform: uppercase;
        overflow: hidden;
        z-index: 1;
        cursor: pointer;
      }
      .btn:focus {
        outline: none;
      }
      
      .btn--primary {
        color: #f442ee;
      }
      
      .btn--border {
        border-width: 1px;
        border-color: white;
        border-style: solid;
        border-radius: 10px;
        box-sizing: border-box;
      }
      
      .btn--animated {
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.5s;
                transition-duration: 0.5s;
      }
      
      .btn--animated:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #5285d8;
        -webkit-transform: scaleX(0);
                transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
                transform-origin: 0 50%;
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        -webkit-transition-duration: 0.5s;
                transition-duration: 0.5s;
        -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
        z-index: -1;
      }
      .btn--animated:hover {
        color: white;
        
      }
      .btn--animated:hover:before {
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
        -webkit-transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
                transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
      }
  #text {
    text-align: center;
    font-family: "thufap";
    font-size: 40px;
    width: 370px;
    height: 250px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 150px;
    margin: auto;
    z-index: 7;
    transition: 1s;
  }

#cherry1 {
    background-image: url("./img/dao.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 25%;
    height: 32%;
    position: absolute;
  transition: 1s;
    right: -30px;
    top: 15%;
    
    z-index: 7;
  }
#gift {
    background-image: url("./img/gift.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    position: absolute;
  transition: 1s;
    left: 470px;
    bottom: 160px;
    
    z-index: 7;
  }
#cherry2 {
    background-image: url("./img/mai.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    height: 35%;
    position: absolute;
    transition: 1s;
    left: -20px;
    top: 20%;
    
    z-index: 7;
  }
  #facts {
   background-image: url("g");
   background-repeat: no-repeat;
   background-size: 80%;
   background-position: center right;
    width: 620px;
    height: 300px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 200px;
    margin: auto;
    z-index: 10;
    transition: 0.5s;

  }
    #wish {
      font-size: 30px;
      text-align: justify;
   background-image: url("./img/wish.png");
   background-repeat: no-repeat;
   background-size: cover;
  padding: 50px;
    width: 280px;
    height: 400px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 200px;
    margin: auto;
    z-index: 11;
    display: none;
    transition: 2s;

  }
    #usd{

   background-image: url("./img/100usd.png");
   background-repeat: no-repeat;
   background-size: cover;
 
    width: 450px;
    height: 180px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 200px;
    margin: auto;
    z-index: 11;
    display: none;
  

  }
  #redenvelope {
    background-image: url('./img/red.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 50px;
    height: 150px;
    position: absolute;
    left: 100px;
  
    bottom: 250px;

    z-index: 11;
    display: block;

  }

#stars, #twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:none;  
}

#stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}

#twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

#night {
  background-color: black;
  opacity: 0.8;
}
#day {
  background-color: white;
  opacity: 0.8;
}



#lanterns { 
  height: 100%; 
  width :100%;
  position: absolute;
  z-index: 4;
  top: 0px;
  left: 0px;
  display: none;
  padding: 100px 0;
 
}
.lantern {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    position: absolute;
}


.x1  {
    left: 100px;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    
    -webkit-animation: floating 15s linear infinite, sideWays 4s ease-in-out infinite alternate, glow 1.5s ease-in-out infinite alternate;
    -moz-animation: floating 15s linear infinite, sideWays 4s ease-in-out infinite alternate,glow 1.5s ease-in-out infinite alternate;
    -o-animation: floating 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x2 {

    left: 200px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
   
    -webkit-animation: floating 25s linear infinite, sideWays 5s ease-in-out infinite alternate, glow 1.5s ease-in-out infinite alternate;
    -moz-animation: floating 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -o-animation: floating 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
}
.x3 {

    left: 350px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);

    -webkit-animation: floating 20s linear infinite, sideWays 4s ease-in-out infinite alternate, glow 1.5s ease-in-out infinite alternate;
    -moz-animation: floating 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: floating 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
}
.x4 {
    left: 470px;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);

    -webkit-animation: floating 18s linear infinite, sideWays 2s ease-in-out infinite alternate,glow 1.5s ease-in-out infinite alternate;
    -moz-animation: floating 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -o-animation: floating 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
}
.x5 {
    left: 150px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
 
    -webkit-animation: floating 7s linear infinite, sideWays 1s ease-in-out infinite alternate,glow 1.5s ease-in-out infinite alternate;
    -moz-animation: floating 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -o-animation: floating 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}
.x6 {
    left: 1000px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
  
    -webkit-animation: floating 17s linear infinite, sideWays 1s ease-in-out infinite alternate,glow 1.5s ease-in-out infinite alternate;
    -moz-animation: floating 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -o-animation: floating 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}
.x7 {
    left: 1500px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);

    -webkit-animation: floating 13s linear infinite, sideWays 3s ease-in-out infinite alternate,glow 1.5s ease-in-out infinite alternate;
    -moz-animation: floating 7s linear infinite, sideWays 3s ease-in-out infinite alternate;
    -o-animation: floating 7s linear infinite, sideWays 3s ease-in-out infinite alternate;
}
.x9 {
    right: 100px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);

    -webkit-animation: floating 12s linear infinite, sideWays 2s ease-in-out infinite alternate,glow 1.5s ease-in-out infinite alternate;
    -moz-animation: floating 7s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -o-animation: floating 7s linear infinite, sideWays 2s ease-in-out infinite alternate;
}
.x8 {
    right: 200px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
 
    -webkit-animation: floating 7s linear infinite, sideWays 1s ease-in-out infinite alternate,glow 1.5s ease-in-out infinite alternate;
    -moz-animation: floating 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -o-animation: floating 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}
@-webkit-keyframes floating { 
    0% { 
        top: 1000px;
    }
    100% { 
        top: -500px;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes floating {     
    0% { 
        top: 1000px;
    }

    100% { 
        top: -500px;
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}
@-o-keyframes floating {
    0% { 
        top: 1000px;
    }
    100% { 
        top: -500px;
    }
}

@-o-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}





#name {
  text-align: center;
  width: 500px;
  float: none;
  margin: 50px auto;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  position: absolute;
  display: none;
}

p {
  font-family: 'sig', serif;
  font-size: 65px;
  color: #111;
  line-height: 50px;
  display: inline-block;
  text-align: justify;
  margin: 20px;
}

p.one {
  font-size: 85 px;
  -webkit-animation: dreamer 30s linear infinite;
  -moz-animation: dreamer 30s linear infinite;
  -ms-animation: dreamer 30s linear infinite;
  -o-animation: dreamer 30s linear infinite;
  animation: dreamer 30s linear infinite;
}

@keyframes "dreamer" {
  0%,100% {
  color: #111;
}

5%,95% {
  color: #3b3643;
}

10%,90% {
  color: #897d9b;
}

15%,85% {
  color: #9b7d99;
}

20%,80% {
  color: #9b837d;
}

25%,75% {
  color: #999b7d;
}

30%,70% {
  color: #7d9b83;
}

35%,65% {
  color: #7d909b;
}

40%,60% {
  color: #837d9b;
}
 50% {
    color: #9b7d95;
 }

}

@-moz-keyframes dreamer {
  0%,100% {
  color: #111;
}

5%,95% {
  color: #3b3643;
}

10%,90% {
  color: #897d9b;
}

15%,85% {
  color: #9b7d99;
}

20%,80% {
  color: #9b837d;
}

25%,75% {
  color: #999b7d;
}

30%,70% {
  color: #7d9b83;
}

35%,65% {
  color: #7d909b;
}

40%,60% {
  color: #837d9b;
}
 50% {
   color: #9b7d95;
 }

}

@-webkit-keyframes "dreamer" {
  0%,100% {
  color: #111;
}

5%,95% {
  color: #3b3643;
}

10%,90% {
  color: #897d9b;
}

15%,85% {
  color: #9b7d99;
}

20%,80% {
  color: #9b837d;
}

25%,75% {
  color: #999b7d;
}

30%,70% {
  color: #7d9b83;
}

35%,65% {
  color: #7d909b;
}

40%,60% {
  color: #837d9b;
}
 50% {
   color: #9b7d95;
 }

}

@-ms-keyframes "dreamer" {
  0%,100% {
  color: #111;
}

5%,95% {
  color: #3b3643;
}

10%,90% {
  color: #897d9b;
}

15%,85% {
  color: #9b7d99;
}

20%,80% {
  color: #9b837d;
}

25%,75% {
  color: #999b7d;
}

30%,70% {
  color: #7d9b83;
}

35%,65% {
  color: #7d909b;
}

40%,60% {
  color: #837d9b;
}
 50% {
   color: #9b7d95;
 }

}

@-o-keyframes "dreamer" {
  0%,100% {
  color: #111;
}

5%,95% {
  color: #3b3643;
}

10%,90% {
  color: #897d9b;
}

15%,85% {
  color: #9b7d99;
}

20%,80% {
  color: #9b837d;
}

25%,75% {
  color: #999b7d;
}

30%,70% {
  color: #7d9b83;
}

35%,65% {
  color: #7d909b;
}

40%,60% {
  color: #837d9b;
}
 50% {
   color: #9b7d95;
 }

}


#sound {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
}
#music {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
}

#animals {
/*  background: url("./img/12animals.png") repeat 100% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;*/
  width: 100%;
  height: 100px;
  position: absolute;
  left: -1500px;
  top: 0px;
  z-index: 8;
  display: block;
  animation: ;
  animation-timing-function: linear;
}


@keyframes flying{
from { left: -1500px; }
to { left: 2000px; }
          
}

/*#fact1 {
  width: 800px;
  height: 500px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  z-index: 5;
  display: none;
}*/

#bus {
  position: absolute;
  bottom: 300px;
  right: -50px;
  width: 500px;
  height: 250px;
  z-index: 5;
  transition: 5s;

}

#firework{
  background-image: url("./img/firework.png");
  background-position: center top;
  background-size: cover;
  width: 80px;
  height: 160px;
  position: absolute;
  left: 500px;
  top : 500px;
  z-index: 8;
  display: block;
  transition: 10s;
  border-radius: 20px;
}


/*z-indices*/
/*Animation*/
@keyframes eye-blink {
  0% {
    transform: scaleY(1);
  }
  10% {
    transform: scaleY(0.1);
  }
  20% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes tail-wag {
  0% {
    transform: rotate(-25deg);
  }
  10% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-25deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-25deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-25deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-25deg);
  }
}
@keyframes tongue-stick {
  0% {
    transform: scaleY(0.1) translateY(-20px);
  }
  20% {
    transform: scaleY(0.1) translateY(-20px);
  }
  30% {
    transform: scaleY(0.5) translateY(0px);
  }
  40% {
    transform: scaleY(1) translateY(0px) rotate(0deg);
  }
  50% {
    transform: scaleY(0.8) translateY(0px) rotate(15deg);
  }
  60% {
    transform: scaleY(1) translateY(0px) rotate(0deg);
  }
  70% {
    transform: scaleY(0.8) translateY(0px) rotate(-15deg);
  }
  80% {
    transform: scaleY(1) translateY(0px) rotate(0deg);
  }
  90% {
    transform: scaleY(0.8) translateY(0px) rotate(15deg);
  }
  100% {
    transform: scaleY(0.1) translateY(-20px) rotate(0deg);
  }
}
@keyframes ear-shake-right {
  0% {
    transform: rotate(70deg);
  }
  10% {
    transform: rotate(80deg);
  }
  30% {
    transform: rotate(70deg);
  }
  40% {
    transform: rotate(80deg);
  }
  100% {
    transform: rotate(70deg);
  }
}
@keyframes ear-shake-left {
  0% {
    transform: rotate(-70deg);
  }
  10% {
    transform: rotate(-80deg);
  }
  30% {
    transform: rotate(-70deg);
  }
  40% {
    transform: rotate(-80deg);
  }
  100% {
    transform: rotate(-70deg);
  }
}
@keyframes body-shake {
  0% {
    transform: translateY(0px);
  }
  16.6666666667% {
    transform: translateY(2%);
  }
  33.3333333333% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(2%);
  }
  66.6666666667% {
    transform: translateY(0px);
  }
  83.3333333333% {
    transform: translateY(2%);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes paw-press {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  16.6666666667% {
    transform: scaleY(0.9) scaleX(1.05) translateY(10%);
  }
  33.3333333333% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.9) scaleX(1.05) translateY(10%);
  }
  66.6666666667% {
    transform: scaleY(1) scaleX(1);
  }
  83.3333333333% {
    transform: scaleY(0.9) scaleX(1.05) translateY(10%);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}
@keyframes neck-shake {
  0% {
    top: 9%;
  }
  16.6666666667% {
    top: 11%;
  }
  33.3333333333% {
    top: 9%;
  }
  50% {
    top: 11%;
  }
  66.6666666667% {
    top: 9%;
  }
  83.3333333333% {
    top: 11%;
  }
  100% {
    top: 9%;
  }
}
@keyframes head-shake {
  0% {
    top: 6%;
  }
  16.6666666667% {
    top: 8%;
  }
  33.3333333333% {
    top: 6%;
  }
  50% {
    top: 8%;
  }
  66.6666666667% {
    top: 6%;
  }
  83.3333333333% {
    top: 8%;
  }
  100% {
    top: 6%;
  }
}
@keyframes mouth-shake {
  0% {
    bottom: 0%;
  }
  16.6666666667% {
    bottom: 2%;
  }
  33.3333333333% {
    bottom: 0%;
  }
  50% {
    bottom: 2%;
  }
  66.6666666667% {
    bottom: 0%;
  }
  83.3333333333% {
    bottom: 2%;
  }
  100% {
    bottom: 0%;
  }
}

#rotate {
  background-color: #f0f0f0;
  padding: 5px;
  position: fixed;
  top: 0px;
  left: 50px;
}

#container {
  width: 100px;
  height: 50px;
  display: block;
  position: absolute;
  z-index: 5;
  left: 300px;
  bottom: 130px;
  justify-content: center;
  align-items: center;
  
}

.corgi {
  height: 100%;
  width: 100%;
  position: relative;
}
.corgi div {
  position: absolute;
}
.corgi .ear {
  background-color: #F09F2E;
  height: 30%;
  width: 55%;
  top: 5%;
  z-index: 3;
}
.corgi .ear--r {
  right: 75%;
  border-bottom-left-radius: 100% 90%;
  border-top-left-radius: 10%;
  transform-origin: 80% center;
  animation: ear-shake-right 2s none infinite;
}
.corgi .ear--l {
  left: 63%;
  background-color: #D27537;
  border-bottom-right-radius: 100% 90%;
  border-top-right-radius: 10%;
  transform-origin: 20% center;
  animation: ear-shake-left 2s none infinite;
}
.corgi .head {
  top: 6%;
  right: 10%;
  height: 40%;
  width: 30%;
  z-index: 3;
  animation: head-shake 2s none infinite;
}
.corgi .face {
  background-color: #F09F2E;
  border-radius: 50%;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: 4;
}
.corgi .eye {
  background-color: #3E3954;
  height: 6%;
  width: 6%;
  position: absolute;
  z-index: 6;
  border-radius: 50%;
  animation: eye-blink 2s none infinite;
}
.corgi .eye--left {
  left: 40%;
  top: 43%;
}
.corgi .eye--right {
  right: 13%;
  top: 41%;
}
.corgi .face__white {
  background-color: #FFFFFF;
  width: 45%;
  height: 77%;
  top: -15%;
  left: 29%;
  transform: rotate(-25deg);
}
.corgi .face__orange {
  background-color: #F09F2E;
  content: " ";
  position: absolute;
  width: 110%;
  height: 110%;
  display: block;
  border-radius: 100%;
}
.corgi .face__orange--l {
  right: 65%;
}
.corgi .face__orange--r {
  left: 65%;
}
.corgi .face__curve {
  background-color: #F09F2E;
  width: 30%;
  height: 20%;
  right: -12%;
  bottom: 42%;
  overflow: hidden;
}
.corgi .face__curve:after {
  content: "";
  background-color: #8C5A46;
  position: absolute;
  width: 69%;
  height: 82%;
  border-radius: 0% 100%;
  top: -32%;
  right: -13%;
}
.corgi .mouth {
  bottom: 0%;
  width: 100%;
  height: 50%;
  left: 28%;
  z-index: 5;
  animation: mouth-shake 2s none infinite;
}
.corgi .nose {
  height: 36%;
  width: 27%;
  top: 0%;
  background-color: #3E3954;
  z-index: 1;
  right: 0%;
  border-bottom-right-radius: 50% 100%;
  border-bottom-left-radius: 50% 100%;
}
.corgi .nose:after {
  content: "";
  width: 100%;
  height: 30%;
  display: block;
  border-top-right-radius: 50% 100%;
  border-top-left-radius: 50% 100%;
  background-color: #3E3954;
  position: absolute;
  top: -25%;
}
.corgi .mouth__left {
  background-color: #FFFFFF;
  width: 50%;
  height: 55%;
}
.corgi .mouth__left--round {
  background-color: #F09F2E;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  left: -50%;
  top: -50%;
}
.corgi .mouth__left--sharp {
  background-color: #F09F2E;
  width: 35%;
  height: 50%;
  bottom: 0px;
  left: -20%;
  transform: skewX(50deg);
}
.corgi .lowerjaw {
  background-color: #FFFFFF;
  width: 100%;
  height: 80%;
  border-radius: 50% / 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  bottom: -9%;
}
.corgi .lips {
  z-index: 2;
  height: 25%;
  width: 35%;
  top: 19%;
  right: 2%;
}
.corgi .lips:before, .corgi .lips:after {
  content: "";
  display: block;
  background: #FFFFFF;
  width: 39%;
  height: 100%;
  border-color: #3E3954;
  border-width: 3px;
  border-style: solid;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 40%;
  border-top-right-radius: 20%;
  border-top-color: transparent;
  position: absolute;
}
.corgi .lips:after {
  transform: rotateY(180deg);
  left: initial;
  right: 9%;
}
.corgi .tongue {
  width: 15%;
  height: 60%;
  background-color: #F15F55;
  right: 14%;
  top: 35%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  transform-origin: 50% 0%;
  animation: tongue-stick 2s none infinite;
}
.corgi .snout {
  background-color: #FFFFFF;
  right: 0%;
  top: 0%;
  width: 50%;
  height: 36%;
  border-top-right-radius: 35% 75%;
}
.corgi .neck__back {
  height: 50%;
  width: 20%;
  transform: skewX(-20deg);
  background-color: #F09F2E;
  z-index: 2;
  right: 24%;
  top: 9%;
  animation: neck-shake 2s none infinite;
}
.corgi .neck__front {
  height: 50%;
  width: 20%;
  right: 11%;
  top: 20%;
  background-color: #F09F2E;
  z-index: 2;
  transform: skewX(2deg);
}
.corgi .body {
  height: 44%;
  width: 77%;
  background-color: #F09F2E;
  right: 10.5%;
  bottom: 12%;
  border-top-left-radius: 20% 50%;
  border-bottom-left-radius: 20% 50%;
  border-top-right-radius: 20% 60%;
  border-bottom-right-radius: 20% 40%;
  z-index: 2;
  overflow: hidden;
  animation: body-shake 2s none infinite;
}
.corgi .body__chest {
  background-color: #FFFFFF;
  height: 87%;
  width: 29%;
  right: 5%;
  bottom: -3%;
  border-top-left-radius: 50% 40%;
  border-top-right-radius: 50% 40%;
}
.corgi .foot {
  height: 35%;
  width: 9.5%;
  bottom: 0;
}
.corgi .foot__left {
  z-index: 3;
  background-color: #F09F2E;
}
.corgi .foot__left:after {
  background-color: #FFFFFF;
}
.corgi .foot__left:before {
  background-color: #F09F2E;
}
.corgi .foot__right {
  z-index: 1;
  background-color: #D27537;
}
.corgi .foot__right:after {
  background-color: #B6D8EF;
}
.corgi .foot__right:before {
  background-color: #D27537;
}
.corgi .foot__back:before {
  transform: skewX(-10deg);
  right: -25%;
}
.corgi .foot__front:before {
  transform: skewX(10deg);
  right: 25%;
}
.corgi .foot__1 {
  right: 37%;
}
.corgi .foot__2 {
  right: 15%;
}
.corgi .foot__2:before {
  transform: skewX(-10deg);
  right: -25%;
}
.corgi .foot__3 {
  left: 12.65%;
}
.corgi .foot__4 {
  left: 31%;
}
.corgi .foot:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
}
.corgi .foot:after {
  /*paws*/
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 125%;
  height: 18%;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  animation: paw-press 2s none infinite;
}
.corgi .tail {
  width: 26%;
  height: 13%;
  background-color: #D27537;
  border-top-left-radius: 50% 100%;
  border-bottom-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
  bottom: 40%;
  left: 1%;
  transform-origin: 80% center;
  animation: tail-wag 2s none infinite;
}

.test, .testrev {
  transition: all 0.8s ease;
}


